* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

body {
  font-family: "Lato";
  font-size: 10px;
  color: #fff; }

.body--credentials {
  background-image: url(../img/city.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .body--credentials:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, green 35%, blue);
    opacity: 0.15;
    z-index: -1; }

.u-text-center {
  text-align: center; }

.button--read-more {
  padding: .5rem;
  font-size: 1.3rem;
  color: #90b8f6;
  text-decoration: none;
  border-bottom: 1px solid; }
  .button--read-more:hover {
    box-shadow: 9px 7px 29px rgba(0, 0, 0, 0.35);
    background-color: #90b8f6;
    color: #fff;
    border-bottom: 1px solid #90b8f6;
    transition: all ease-in 150ms; }
  .button--read-more:active {
    box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.35);
    transition: all ease-in-out 50ms; }

.header--home {
  background-image: url(../img/city.jpg);
  background-size: cover;
  background-position: center;
  height: 75vh;
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
  position: relative; }
  .header--home:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, green 35%, blue);
    opacity: 0.28;
    z-index: -1; }
  .header--home__logo {
    width: 50px;
    margin: 30px 0 0 40px; }
  .header--home .menu-wrapper {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 65px;
    height: 65px; }
    .header--home .menu-wrapper .menu {
      position: relative; }
      .header--home .menu-wrapper .menu__icon-side {
        position: absolute;
        backface-visibility: hidden;
        top: 0;
        left: 0;
        transition: 1s ease; }
        .header--home .menu-wrapper .menu__icon-side--back {
          position: absolute;
          top: 0;
          transform: rotateY(180deg); }
      .header--home .menu-wrapper .menu:hover .menu__icon-side--front {
        transform: rotateY(180deg);
        opacity: 0; }
      .header--home .menu-wrapper .menu:hover .menu__icon-side--back {
        transform: rotateY(0); }
  .header--home__content {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header--home__content h1 {
      font-size: 6rem;
      letter-spacing: 3rem;
      text-shadow: 0px 0px 13px white, 3px 3px 10px black; }
    .header--home__content h2 {
      font-weight: 300;
      letter-spacing: 1rem;
      margin-left: -3rem;
      font-size: 1rem;
      text-shadow: 0px 0px 23px; }

.article--about {
  background-color: #eaeaea;
  padding: 25rem 0;
  margin-top: -15vh; }

.article__header {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 700;
  color: #5e5e5e;
  margin-bottom: 1rem; }
  .article__header h1 {
    display: inline-block;
    background-image: url(../img/water_pattern.jpg);
    background-position: left;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    opacity: .95;
    transition: all ease-out 300ms; }
    .article__header h1:hover {
      text-shadow: 3px 2px 13px #0000006b;
      transform: skewY(-1deg) skewX(3deg);
      transition: all ease-in 150ms;
      cursor: context-menu; }

.article .section-wrapper {
  width: 80%;
  margin: 0 auto;
  clear: both; }
  .article .section-wrapper .side {
    width: calc(50% - 3rem);
    display: inline-block;
    color: #656565; }
    .article .section-wrapper .side--left {
      font-size: 1.2rem; }
    .article .section-wrapper .side--right {
      float: right; }
      .article .section-wrapper .side--right .image-section {
        position: relative; }
        .article .section-wrapper .side--right .image-section__image {
          position: absolute;
          max-width: 350px;
          border-radius: 3px;
          box-shadow: 0 2px 4rem rgba(0, 0, 0, 0.6);
          margin: .5rem;
          z-index: 666;
          opacity: .95;
          transition: all ease-out 400ms; }
          .article .section-wrapper .side--right .image-section__image--1 {
            top: 0;
            left: 0; }
          .article .section-wrapper .side--right .image-section__image--2 {
            top: 2rem;
            right: 3rem; }
          .article .section-wrapper .side--right .image-section__image--3 {
            position: relative !important;
            top: 12rem;
            left: 2rem; }
          .article .section-wrapper .side--right .image-section__image:hover {
            box-shadow: 0 2px 2.5rem black;
            z-index: 999;
            transform: scale(1.15);
            transition: all ease-in 200ms;
            opacity: 1; }
    .article .section-wrapper .side__heading {
      margin: .8rem 0;
      text-transform: uppercase;
      font-weight: 700;
      color: #3f3f3f;
      text-shadow: 2px 2px 5px #0000008c; }
    .article .section-wrapper .side .paragraph:not(:last-child) {
      margin-bottom: 2.2rem; }

.main--credentials {
  font-size: 1rem;
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto; }
  .main--credentials .photos,
  .main--credentials .icons {
    margin: 1rem 0; }
  .main--credentials .icons__single-icon {
    padding: .3rem 0; }
  .main--credentials .icons a {
    color: #90b8f6;
    font-weight: 700; }
  .main--credentials .photos .single-photo {
    margin: .3rem;
    display: inline-block;
    position: relative; }
    .main--credentials .photos .single-photo:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(to bottom, #000 50%, #1f1f1f);
      opacity: 0;
      z-index: 3; }
    .main--credentials .photos .single-photo:after {
      transition: all ease-out 500ms; }
    .main--credentials .photos .single-photo:hover:after {
      opacity: .55;
      transition: all ease-in 250ms; }
    .main--credentials .photos .single-photo:hover .single-photo__link {
      opacity: 1;
      transition: all ease 400ms; }
    .main--credentials .photos .single-photo img {
      max-width: 250px;
      z-index: -2;
      border-radius: 3px;
      box-shadow: 2px 2px 35px #030303; }
    .main--credentials .photos .single-photo__link {
      opacity: 0;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 1.7rem;
      z-index: 4;
      transition: all ease-out 400ms;
      backface-visibility: hidden; }
      .main--credentials .photos .single-photo__link a {
        color: #fff; }
  .main--credentials .heading--credentials {
    padding: .2rem 0; }
