* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body,
html {
  height: 100%; }

body {
  font-family: "Lato";
  font-size: 10px;
  color: #fff; }

.body--credentials:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to bottom right, rgba(0, 128, 0, 0.15) 35%, rgba(0, 0, 255, 0.15)), url(../img/city.jpg);
  background-size: cover;
  background-position: center;
  z-index: -1; }

.u-text-center {
  text-align: center; }

.u-clear {
  clear: both; }

.button--read-more, .button--see-all-stories {
  padding: .5rem;
  font-size: 1.3rem;
  color: #90b8f6;
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer; }
  .button--read-more:hover, .button--see-all-stories:hover {
    box-shadow: 9px 7px 29px rgba(0, 0, 0, 0.35);
    background-color: #90b8f6;
    color: #fff;
    border-bottom: 1px solid #90b8f6;
    transition: all ease-in 150ms; }
  .button--read-more:active, .button--see-all-stories:active {
    box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.35);
    transition: all ease-in-out 50ms; }

.button--see-all-stories {
  display: block;
  width: fit-content;
  margin: 0 auto; }

.button-default {
  padding: 1.15rem 0;
  font-size: 1.3rem;
  border: 0;
  border-radius: 25px;
  box-shadow: 4px 4px 30px #0000008f;
  text-transform: uppercase;
  font-weight: 700;
  transition: all ease-out 500ms;
  outline: none;
  cursor: pointer; }
  .button-default:hover {
    transform: translateY(-3px);
    box-shadow: 6px 6px 35px #0000006b;
    transition: all ease-in 250ms; }
  .button-default:active {
    box-shadow: 2px 2px 25px #000000c1;
    transform: translateY(-1px);
    transition: all ease-in 75ms; }

.card__button {
  width: 75%;
  background-color: #fff;
  color: #777;
  cursor: pointer; }
  .card__button:hover {
    color: #4c4c4c; }

.tours__button {
  padding: 1.15rem;
  font-size: 1.3rem;
  width: fit-content;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  color: #777; }
  .tours__button:hover {
    color: #4c4c4c;
    background-color: rgba(18, 169, 235, 0.1); }

.photos-gallery__heading {
  padding: .2rem 0; }

.photos-gallery .single-photo {
  margin: .3rem;
  display: inline-block;
  position: relative; }
  .photos-gallery .single-photo:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #000 50%, #1f1f1f);
    opacity: 0;
    z-index: 3; }
  .photos-gallery .single-photo:after {
    border: 5px solid;
    border-width: 5px 0;
    transition: all ease-out 500ms; }
  .photos-gallery .single-photo:hover:after {
    opacity: .55;
    transition: all ease-in 250ms; }
  .photos-gallery .single-photo:hover .single-photo__link {
    opacity: 1;
    transition: all ease 400ms; }
  .photos-gallery .single-photo img {
    max-width: 250px;
    z-index: -2;
    border-radius: 3px;
    box-shadow: 2px 2px 35px #030303; }
  .photos-gallery .single-photo__link {
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 1.7rem;
    z-index: 4;
    transition: all ease-out 400ms;
    backface-visibility: hidden; }
    .photos-gallery .single-photo__link a {
      color: #fff; }

.box {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 2;
  width: calc((100%/4) - 13rem);
  text-align: center;
  padding: 3rem 1rem 2rem 1rem;
  border-radius: 3px;
  color: #656565;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.809);
  margin: 0 2.2rem;
  display: inline-block;
  transition: all ease-out 500ms; }
  .box__icon {
    margin-bottom: 1.5rem;
    font-size: 5rem;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to bottom right, #8bc34a8c 25%, #2196f370), url(../img/water_pattern.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.75; }
  .box__heading {
    margin: 1.1rem 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #4c4c4c; }
  .box__paragraph {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 180%; }
  .box:hover {
    transform: translateY(-0.5rem) scale(1.05);
    transition: all ease-in 200ms; }

.card {
  position: relative;
  display: inline-block;
  height: 100%;
  width: calc( (100%/3) - 15%);
  -webkit-perspective: 150rem;
  transition: all ease-out 700ms;
  margin: 0 3rem; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 2px 2px 35px #000;
    transition: all ease-in 500ms;
    overflow: hidden; }
    .card__side .card__img {
      height: 40%;
      width: 100%;
      background-blend-mode: color-burn;
      background-size: cover;
      background-position: center;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .card__side .card__img--1 {
        background-image: linear-gradient(to right bottom, rgba(214, 33, 175, 0.3), rgba(235, 18, 93, 0.3)), url(../img/lake.jpg); }
      .card__side .card__img--2 {
        background-image: linear-gradient(to right bottom, rgba(21, 183, 92, 0.3), rgba(18, 235, 197, 0.3)), url(../img/mountains_2.jpg); }
      .card__side .card__img--3 {
        background-image: linear-gradient(to right bottom, rgba(33, 143, 214, 0.3), rgba(18, 169, 235, 0.3)), url(../img/island.jpg);
        background-blend-mode: exclusion; }
    .card__side .card__heading {
      font-size: 1.8rem;
      text-transform: uppercase;
      position: absolute;
      top: 26%;
      right: 0;
      text-align: center;
      width: 50%;
      padding-right: .8rem; }
      .card__side .card__heading--2 {
        width: 70%; }
    .card__side .card__heading-span {
      padding: 0.2rem 1.2rem;
      box-decoration-break: clone;
      -webkit-box-direction-break: clone; }
      .card__side .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(214, 33, 175, 0.6), rgba(235, 18, 93, 0.65)); }
      .card__side .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(21, 183, 92, 0.6), rgba(18, 235, 197, 0.65)); }
      .card__side .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(33, 143, 214, 0.6), rgba(18, 169, 235, 0.65)); }
    .card__side .card__details--1 {
      text-shadow: 0px 0px 13px rgba(230, 93, 201, 0.35), 3px 3px 10px #959595; }
      .card__side .card__details--1 li:not(:last-child) {
        border-bottom: 1px solid rgba(230, 93, 201, 0.5); }
    .card__side .card__details--2 {
      text-shadow: 0px 0px 13px rgba(21, 183, 92, 0.35), 3px 3px 10px #959595; }
      .card__side .card__details--2 li:not(:last-child) {
        border-bottom: 1px solid rgba(49, 231, 129, 0.5); }
    .card__side .card__details--3 {
      text-shadow: 0px 0px 13px rgba(33, 143, 214, 0.35), 3px 3px 10px #959595; }
      .card__side .card__details--3 li:not(:last-child) {
        border-bottom: 1px solid rgba(93, 176, 230, 0.5); }
    .card__side .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      color: #656565; }
      .card__side .card__details ul li {
        text-align: center;
        font-size: 1rem;
        padding: .8rem; }
    .card__side .price-only {
      font-size: 1.8rem; }
    .card__side .price-value {
      font-size: 3rem; }
    .card__side--front {
      z-index: 1; }
    .card__side--back {
      z-index: 0;
      transform: rotateY(180deg);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .card__side--back > * {
        margin: .5rem 0; }
    .card__side--back-1 {
      background-image: linear-gradient(to right bottom, #d621af, #e10a9a, #e80085, #eb0071, #eb125d); }
    .card__side--back-2 {
      background-image: linear-gradient(to right bottom, #15b75c, #00c477, #00d192, #00deac, #12ebc5); }
    .card__side--back-3 {
      background-image: linear-gradient(to right bottom, #218fd6, #1d95db, #199ce1, #15a2e6, #12a9eb); }

.story-single {
  width: 45%;
  margin: 3.5rem auto;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  transform: skew(-15deg);
  padding: 1.5rem 2rem; }
  .story-single > * {
    transform: skew(15deg); }
  .story-single .circle-box {
    width: 150px;
    height: 150px;
    margin-right: 49px;
    float: left;
    shape-outside: circle(41% at 30% 55%);
    -webkit-shape-outside: circle(28% at 66% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative;
    z-index: 20; }
    .story-single .circle-box__img {
      width: 100%;
      height: 100%;
      transform: scale(1.3);
      transition: all ease-in-out 200ms;
      background-image: linear-gradient(red, green);
      background-blend-mode: exclusion; }
      .story-single .circle-box__img:hover + .circle-box__name {
        top: 0; }
    .story-single .circle-box:hover .hide-text {
      opacity: 1; }
    .story-single .circle-box:hover .circle-box__img {
      filter: blur(2px);
      transform: scale(1);
      transition: all ease-in-out 280ms; }
    .story-single .circle-box__name {
      z-index: 666;
      width: 100%;
      display: block;
      height: 100%;
      position: absolute;
      top: 100%;
      color: #fff;
      font-size: 2rem;
      padding: 21% 1rem;
      text-align: center;
      clip-path: circle(50% at 50% 50%);
      transition: all ease-in 250ms;
      background-color: rgba(0, 0, 0, 0.32); }
      .story-single .circle-box__name:hover {
        top: 0; }
        .story-single .circle-box__name:hover .hide-text {
          opacity: 1; }
      .story-single .circle-box__name .hide-text {
        opacity: 0;
        transition: all ease-in 450ms; }
  .story-single .text-box {
    z-index: 10; }
    .story-single .text-box__heading {
      color: #656565;
      padding: 1rem;
      font-size: 1.3rem;
      backface-visibility: hidden; }
    .story-single .text-box__paragraph {
      letter-spacing: 1px;
      line-height: 180%;
      font-size: .9rem;
      color: #777;
      padding-left: 1rem; }

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3; }
  .video-background__content {
    max-width: 100%;
    width: 100%;
    object-fit: fill;
    max-height: 100%; }

.other-information__video .video-content {
  width: 33vw;
  height: auto; }

.header--home {
  background-image: url(../img/city.jpg);
  background-size: cover;
  background-position: center;
  height: 75vh;
  clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
  position: relative; }
  .header--home:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(to bottom right, green 35%, blue);
    opacity: 0.28;
    z-index: -1; }
  .header--home__logo {
    width: 50px;
    margin: 30px 0 0 40px; }
  .header--home .menu-wrapper {
    position: absolute;
    right: 40px;
    top: 30px;
    width: 65px;
    height: 65px; }
    .header--home .menu-wrapper .menu {
      position: relative; }
      .header--home .menu-wrapper .menu__icon-side {
        position: absolute;
        backface-visibility: hidden;
        top: 0;
        left: 0;
        transition: 1s ease; }
        .header--home .menu-wrapper .menu__icon-side--back {
          position: absolute;
          top: 0;
          transform: rotateY(180deg); }
      .header--home .menu-wrapper .menu:hover .menu__icon-side--front {
        transform: rotateY(180deg);
        opacity: 0; }
      .header--home .menu-wrapper .menu:hover .menu__icon-side--back {
        transform: rotateY(0); }

.header__content {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .header__content h1 {
    font-size: 6rem;
    letter-spacing: 3rem;
    text-shadow: 0px 0px 13px white, 3px 3px 10px black; }
  .header__content h2 {
    font-weight: 300;
    letter-spacing: 1rem;
    margin-left: -3rem;
    font-size: 1rem;
    text-shadow: 0px 0px 23px; }

.article--about {
  background-color: #eaeaea;
  padding-top: 13rem;
  height: 100vh;
  margin-top: -15vh; }

.article--features {
  position: relative;
  background-image: linear-gradient(to bottom right, rgba(74, 67, 221, 0.5), rgba(177, 45, 177, 0.5)), url(../img/mountains.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  align-items: center;
  transform: skewY(-4deg);
  margin-top: -12vh; }
  .article--features .features-wrapper {
    transform: skewY(4deg);
    display: flex;
    justify-content: center; }

.article--tours {
  height: 100vh;
  background-color: #eaeaea;
  padding-top: 10rem;
  margin-top: -5rem; }
  .article--tours .card_wrapper {
    height: 60%;
    width: 100%;
    margin: 3.5rem 0;
    display: flex;
    justify-content: center; }

.article--stories {
  height: 80vh;
  padding-top: 5rem;
  position: relative; }

.article__header {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 700;
  color: #5e5e5e;
  margin-bottom: 1rem; }
  .article__header h1 {
    display: inline-block;
    background-image: url(../img/water_pattern.jpg);
    background-position: left;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    opacity: .95;
    transition: all ease-out 300ms; }
    .article__header h1:hover {
      text-shadow: 3px 2px 13px #0000006b;
      transform: skewY(-1deg) skewX(3deg);
      transition: all ease-in 150ms;
      cursor: context-menu; }

.article .section-wrapper {
  width: 80%;
  margin: 0 auto;
  clear: both; }
  .article .section-wrapper .side {
    width: calc(50% - 3rem);
    display: inline-block;
    color: #656565; }
    .article .section-wrapper .side--left {
      font-size: 1.2rem; }
    .article .section-wrapper .side--right {
      float: right; }
      .article .section-wrapper .side--right .image-section {
        position: relative; }
        .article .section-wrapper .side--right .image-section__image {
          position: absolute;
          max-width: 350px;
          border-radius: 3px;
          box-shadow: 0 2px 4rem rgba(0, 0, 0, 0.6);
          margin: .5rem;
          z-index: 666;
          opacity: .95;
          transition: all ease-out 400ms; }
          .article .section-wrapper .side--right .image-section__image--1 {
            top: 0;
            left: 0; }
          .article .section-wrapper .side--right .image-section__image--2 {
            top: 2rem;
            right: 3rem; }
          .article .section-wrapper .side--right .image-section__image--3 {
            position: relative !important;
            top: 12rem;
            left: 2rem; }
          .article .section-wrapper .side--right .image-section__image:hover {
            box-shadow: 0 2px 2.5rem black;
            z-index: 999;
            transform: scale(1.15);
            transition: all ease-in 200ms;
            opacity: 1; }
    .article .section-wrapper .side__heading {
      margin: .8rem 0;
      text-transform: uppercase;
      font-weight: 700;
      color: #3f3f3f;
      text-shadow: 2px 2px 5px #0000008c; }
    .article .section-wrapper .side .paragraph:not(:last-child) {
      margin-bottom: 2.2rem; }

.main--credentials {
  font-size: 1rem;
  padding: 2rem 0;
  width: 80%;
  margin: 0 auto; }
  .main--credentials .photos,
  .main--credentials .icons {
    margin: 1rem 0; }
  .main--credentials .icons__single-icon {
    padding: .3rem 0; }
  .main--credentials .icons a {
    color: #90b8f6;
    font-weight: 700; }
  .main--credentials .other-information {
    margin: 2rem 0; }
    .main--credentials .other-information p {
      margin: 1rem 0; }
    .main--credentials .other-information a {
      color: #90b8f6;
      font-weight: 700; }
    .main--credentials .other-information .video-info {
      width: fit-content;
      margin: 0 auto;
      text-align: center; }
    .main--credentials .other-information__video {
      margin: .5rem 0; }
