.main--credentials {
    font-size: 1rem;
    padding: 2rem 0;
    @include center-box(80%);
    .photos,
    .icons {
        margin: 1rem 0;
    }
    .icons {
        &__single-icon {
            padding: .3rem 0;
        }
        a {
            color: $light_blue;
            font-weight: 700;
        }
    }
    .photos {
        .single-photo {
            margin: .3rem;
            display: inline-block;
            position: relative;
            @include gradient-layer(#000, rgb(31, 31, 31), 0, to bottom, 50%, 3);
            &:after {
                transition: all ease-out 500ms;
            }
            &:hover {
                &:after {
                    opacity: .55;
                    transition: all ease-in 250ms;
                }
                .single-photo__link {
                    opacity: 1;
                    transition: all ease 400ms;
                }
            }
            img {
                max-width: 250px;
                z-index: -2;
                border-radius: 3px;
                box-shadow: 2px 2px 35px #030303;
            }
            &__link {
                opacity: 0;
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                font-size: 1.7rem;
                z-index: 4;
                transition: all ease-out 400ms;
                backface-visibility: hidden;
                a {
                    color: $white;
                }
            }
        }
    }
    .heading--credentials {
        padding: .2rem 0;
    }
}