.main--credentials {
    font-size: 1rem;
    padding: 2rem 0;
    @include center-box(80%);
    .photos,
    .icons {
        margin: 1rem 0;
    }
    .icons {
        &__single-icon {
            padding: .3rem 0;
        }
        a {
            color: $light_blue;
            font-weight: 700;
        }
    }
    .other-information {
        margin: 2rem 0;
        p {
            margin: 1rem 0;
        }
        a {
            color: $light_blue;
            font-weight: 700;
        }
        .video-info {
            @include center-box(fit-content);
            text-align: center;
        }
        &__video {
            margin: .5rem 0;
        }
    }
}