.box {
    background-color: rgba($white, .9);
    position: relative;
    z-index: 2;
    width: calc((100%/4) - 13rem);
    text-align: center;
    padding: 3rem 1rem 2rem 1rem;
    border-radius: 3px;
    color: $dark_gray;
    box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.809);
    margin: 0 2.2rem;
    display: inline-block;
    transition: all ease-out 500ms;
    &__icon {
        margin-bottom: 1.5rem;
        font-size: 5rem;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to bottom right, #8bc34a8c 25%, #2196f370), url(../img/water_pattern.jpg);
        background-position: center;
        background-size: cover; // border-radius: 50%;
        // box-shadow: 7px 6px 30px #00000054;
        opacity: 0.75;
    }
    &__heading {
        margin: 1.1rem 0;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: darken($dark_gray, 10%);
    }
    &__paragraph {
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 700;
        line-height: 180%;
    }
    &:hover {
        transform: translateY(-.5rem) scale(1.05);
        transition: all ease-in 200ms;
    }
}