.button {
    &--read-more {
        padding: .5rem;
        font-size: 1.3rem;
        color: $light_blue;
        text-decoration: none;
        border-bottom: 1px solid;
        cursor: pointer;
        &:hover {
            box-shadow: 9px 7px 29px rgba(0, 0, 0, 0.35);
            background-color: $light_blue;
            color: $white;
            border-bottom: 1px solid $light_blue;
            transition: all ease-in 150ms;
        }
        &:active {
            box-shadow: 5px 3px 12px rgba(0, 0, 0, 0.35);
            transition: all ease-in-out 50ms;
        }
    }
}

.button-default {
    padding: 1.15rem 0;
    font-size: 1.3rem;
    border: 0;
    border-radius: 25px;
    box-shadow: 4px 4px 30px #0000008f;
    text-transform: uppercase;
    font-weight: 700;
    transition: all ease-out 500ms;
    outline: none;
    cursor: pointer;
    &:hover {
        transform: translateY(-3px);
        box-shadow: 6px 6px 35px #0000006b;
        transition: all ease-in 250ms;
    }
    &:active {
        box-shadow: 2px 2px 25px #000000c1;
        transform: translateY(-1px);
        transition: all ease-in 75ms;
    }
}

.card__button {
    width: 75%;
    background-color: $white;
    color: $gray;
    cursor: pointer;
    &:hover {
        color: darken($dark_gray, 10%);
    }
}

.tours__button {
    padding: 1.15rem;
    font-size: 1.3rem;
    @include center-box(fit-content);
    display: block;
    @include link-restart($gray);
    &:hover {
        color: darken($dark_gray, 10%);
    }
}