* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: $default_font;
    font-size: 10px;
    color: $white;
}

.body--credentials {
    background-image: url(../img/city.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    @include gradient-layer(green, blue, .15, to bottom, 35%, -1);
}