* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: $default_font;
    font-size: 10px;
    color: $white;
}

.body--credentials {
    // @include gradient-layer(green, blue, .15, to bottom, 35%, -1);
    &:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom right, rgba(green, .15) 35%, rgba( blue, .15)), url(../img/city.jpg);
        background-size: cover;
        background-position: center;
        z-index: -1;
    }
}