@mixin text-shadow-double($first_color, $second_color) {
    text-shadow: 0px 0px 13px $first_color, 3px 3px 10px $second_color;
}

@mixin text-shadow($color) {
    text-shadow: 0px 0px 13px $color;
}

@mixin center-box($box_width) {
    width: $box_width;
    margin: 0 auto;
}

@mixin clear {
    clear: both;
}

@mixin gradient-layer($first_color, $second_color, $opacity, $type, $first_color_percentage, $z_index) {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient($type, $first_color $first_color_percentage, $second_color);
        opacity: $opacity;
        z-index: $z_index;
    }
}

@mixin center-vertical-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

@mixin link-restart($color) {
    text-decoration: none;
    color: $color;
}

@mixin background-color-opacity($color, $opacity) {
    background-color: rgba($color, $opacity);
}