//fonts:
$default_font: 'Lato';
//colors:
$white: #fff;
$gray: #777;
$light_gray: lighten($gray, 45%);
$dark_gray: #656565;
$light_blue: rgb(144, 184, 246);
$light_blue_2: lighten(#218fd6, 15%);
$basic_blue: rgb(66, 149, 244);
$basic_blue_2:rgb(44, 131, 232);
$light_violet: lighten(#d621af, 15%);
$light_green: lighten(#15b75c, 15%);